<div id="header">
    <a class="brand" href="/">MyBinder</a>

    <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
    <% if user_signed_in? %>
		    <%= current_user.email %>
	    <b class="caret"></b>
	    <ul class="dropdown-menu">
		    <li><%= link_to("Logout", destroy_user_session_path, :method => :delete)  %></li>
	    </ul>
    <% else %>
	    <p><%= link_to "Sign in", new_user_session_path %></p>
    <% end %>
    </a>
</div>
