<h4>Online Resources <%= "for this #{controller.controller_name.singularize.capitalize}" %></h4>
<ul id="online_resources">
<hr>
<% unless @online_resources.nil? %>
	<%= render :partial => @online_resources %>
<% end %>	
</ul>
<%# link_to "Contribute a Resource", new_online_resource_path %>
<% @online_resource	= OnlineResource.new() %>
<% if can? :create, @online_resource %>
	<%= render :partial => "online_resources/contribute_resource", :locals => {:online_resource => @online_resource, :resourceable_id => @resourceable_id} %>
<% end %>
