<% 5.times do%>	
	<div class="resource">
		<hr>
		<h6>Resource Name</h6>
		<p>Description of resource. Description of resource. Description of resource.</p>
	</div>
<% end %>
<%= render :partial => "partials/contribute_resource" %>
