<% unless @online_resources.nil? %>
	<% @online_resources.each do |resource| %>
		<div class="resource">
			<hr>
			<h6><%= resource.name %></h6>
			<p><%= resource.description %></p>
		</div>
	<% end %>
<% end %>	
<hr>
<%= link_to "Contribute a Resource", new_online_resource_path %>
<%# render :partial => "partials/contribute_resource", :locals => {:resourceable_id => @resourceable_id} %>
