<h4>Online Resources <%= "for this #{controller.controller_name.singularize.capitalize}" %></h4>
<ul id="online_resources">
<hr>
<% unless @online_resources.nil? %>
	<%= render :partial => @online_resources %>
<% end %>	
</ul>
<%# link_to "Contribute a Resource", new_online_resource_path %>
<%= render :partial => "online_resources/contribute_resource", :locals => {:resourceable_id => @resourceable_id} %>
