<table class="table table-striped">
  <thead>
    <tr>
      <th>Units</th>
    </tr>
  </thead>
  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td><%= link_to("Unit #{unit.number}: #{unit.name}", unit_path(unit)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
