<%- model_class = Course.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<ul class="unstyled">
<% @courses.each do |course| %>        
    <li><h3><%= link_to(course.name, course_path(course)) %></h3></li>
<% end %>
</ul>
