<p id="notice"><%= notice %></p>

<p>
  <b>Statement:</b>
  <%= @misconception.statement %>
</p>


<%= link_to 'Edit', edit_misconception_path(@misconception) %> |
<%= link_to 'Back', misconceptions_path %>
