<h2>Detailed Versions of this Activity</h2>
<ul id="detailed_activities">
	<% for activity in @activity.detailed_activities %>
		<%= render :partial => 'detailed_activities/detailed_activity', :locals => {:detailed_activity => activity} %>
	<% end %>
</ul>

<% @detailed_activity = DetailedActivity.new() %>
<% if can? :create, @detailed_activity %>
	<%= render :partial => "detailed_activities/contribute_activity", 
	:locals => {:detailed_activity => @detailed_activity, :activity_id => activity_id} %>
<% end %>
