<h2>Detailed Versions of this Activity</h2>
<p>Detailed versions of an activity include information about materials, student grouping, and
other lesson logistics.</p>

<ul id="detailed_activities">
	<% for activity in @activity.detailed_activities %>
		<%= render :partial => 'detailed_activities/detailed_activity', :locals => {:detailed_activity => activity} %>
	<% end %>
</ul>

<% if can? :create, DetailedActivity %>
	<%= link_to "Contribute Your Version of this Activity!", new_detailed_activity_path(:activity_id => @activity.id ), :class => 'btn btn-primary' %>
<% end %>
