<%= simple_form_for @activity, :html => { :class => 'form-horizontal' } do |activity_form| %>
<div>

    <fieldset>                
        <%= render :partial => 'activity_fields', :locals => {:f => activity_form} %>
    </fieldset>

    <div class="form-actions">
      <%= activity_form.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', activities_path, :class => 'btn' %>
    </div>
</div>
<% end %>

